<section>
  <div class="page-header">
      <h1>New Item</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.carteForm" class="form-horizontal" ng-submit="vm.save(vm.form.carteForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Name</label>
          <input name="title" type="text" ng-model="vm.carte.name" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="vm.form.carteForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Item title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Price</label>
          <textarea name="content" ng-model="vm.carte.price" id="content" class="form-control" cols="30" rows="1" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="content">Is Veg</label>
            <select class="form-control" id="vegId" ng-model="vm.carte.isVeg" ng-options="option.value as option.name for option in vm.options">
            </select>
        </div>
          <div class="form-group">
          <label class="control-label" for="content">Description</label>
          <textarea name="content" ng-model="vm.carte.description" id="description" class="form-control" cols="30" rows="5" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="imageUrl">Image Url</label>
          <textarea name="content" ng-model="vm.carte.imageUrl" id="imageUrl" class="form-control" cols="30" rows="1" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Add Item</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
