<section>
  <div class="page-header">
    <h1>Carte List</h1>
  </div>
  <div class="list-group">
   <!-- <a ng-repeat="item in vm.carte" ui-sref="carte.view({ articleId: article._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="item.created | date:'mediumDate'"></span>
        by
        <span ng-if="item.user" ng-bind="item.user.name"></span>
        <span ng-if="!item.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="item.name"></h4>
      <p class="list-group-item-text" ng-bind="item.description">
      <p class="list-group-item-text" ng-bind="item.price">
      <input type="checkbox" ng-checked="all">Volvo<br>
      </p>
    </a>  -->
      <a ng-repeat="item in vm.carte" ui-sref="carte.edit({ itemId:item._id })"class="list-group-item">
      <label>
          <input type="checkbox" class="list-group-item-text" ng-model="item.name" ng-true-value="'{{item.name}}'" ng-false-value="'{{item.name}}'">
          <h4 class="list-group-item-heading" ng-bind="item.name"></h4>
          <p class="list-group-item-text" ng-bind="item.price">
          <p class="list-group-item-text" ng-bind="item.description">
      </label>
      </a>
      <div class="form-group">
          <button type="submit" class="btn btn-default">Create Menu</button>
      </div>
  </div>
</section>
