<section>
  <div class="page-header">
    <h1>View Menu</h1>
  </div>
   <p>Select a Day:</p>
    <select ng-model="vm.day" ng-change="vm.selected(vm.day, vm.category)">
    <option ng-repeat="day in vm.days" value="{{day}}">{{day}}</option>
    </select>
      <p>Select a Type:</p>
     <select ng-model="vm.category" ng-change="vm.selected(vm.day, vm.category)">
    <option ng-repeat="category in vm.categories" value="{{category}}">{{category}}</option>
    </select>
  <div class="list-group">
    <a ng-repeat="item in vm.carte" ui-sref="carte.edit({ itemId:item._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="item.created | date:'mediumDate'"></span>
        by
        <span ng-if="item.user" ng-bind="item.user.name"></span>
        <span ng-if="!item.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="item.name"></h4>
      <p class="list-group-item-text" ng-bind="item.description">
      <p class="list-group-item-text" ng-bind="item.price">
      </p>
    </a>
  </div>
</section>
